---
import { getCollection } from 'astro:content';

// wildwordsコレクションから全データを取得
const terms = await getCollection('wildwords');
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Wild Words</title>
  </head>
  <body>
    <h1>List</h1>
    <ul>
      {terms.map(entry => (
        <li>
          <strong>{entry.data.term}</strong> ({entry.data.reading})<br />
          {entry.data.description}
        </li>
      ))}
    </ul>
  </body>
</html>
